In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
JOY_Phrases = pd.read_csv("Input/JOY_Phrases.txt", delimiter = "\n",header=None)
JOY_Phrases.head()

                                                   0
0  i feel much love for my brothers and sisters a...
1  i feel i have a divine mandate to go and tell ...
2  i can breathe and feel more fully in this divi...
3  i know that's cliche but its the only way to d...
4  i know that it won t be easy and it won t alwa...

In [3]:
JOY_Phrases.duplicated().sum()

23505

In [4]:
JOY_Phrases.drop_duplicates(inplace=True)
JOY_Phrases.rename(columns={0:'Text'},inplace=True)
JOY_Phrases['Emotion'] = 'happy'
JOY_Phrases = JOY_Phrases[['Emotion','Text']]

In [5]:
JOY_Phrases

       Emotion                                               Text
0        happy  i feel much love for my brothers and sisters a...
1        happy  i feel i have a divine mandate to go and tell ...
2        happy  i can breathe and feel more fully in this divi...
3        happy  i know that's cliche but its the only way to d...
4        happy  i know that it won t be easy and it won t alwa...
...        ...                                                ...
164574   happy  When I received a letter from the university t...
164575   happy  I had a picnic with old classmates, we chatted...
164576   happy  It was the first time that I gave a birthday p...
164577   happy  In August,1983, the long awaited "big envelope...
164578   happy         I received a letter from a distant friend.

[141074 rows x 2 columns]

In [6]:
ANGER_Phrases = pd.read_csv("Input/ANGER_Phrases.txt", delimiter = "\n",header=None)
ANGER_Phrases.head()

                                                   0
0  i must do in my daily life since when i get up...
1  i'm feeling really grouchy about the weather h...
2  i was often feeling grouchy dissatisfied about...
3                  i woke up feeling grouchy as hell
4                      i feel grouchy and judgmental

In [7]:
ANGER_Phrases.duplicated().sum()

8516

In [8]:
ANGER_Phrases.drop_duplicates(inplace=True)
ANGER_Phrases.rename(columns={0:'Text'},inplace=True)
ANGER_Phrases['Emotion'] = 'anger'
ANGER_Phrases = ANGER_Phrases[['Emotion','Text']]

In [9]:
ANGER_Phrases

      Emotion                                               Text
0       anger  i must do in my daily life since when i get up...
1       anger  i'm feeling really grouchy about the weather h...
2       anger  i was often feeling grouchy dissatisfied about...
3       anger                  i woke up feeling grouchy as hell
4       anger                      i feel grouchy and judgmental
...       ...                                                ...
65843   anger  The curriculum of the year !   The English cou...
65844   anger  A man sexually aggressed a small girl in the b...
65845   anger  At hostel, my roommate was a very selfish pers...
65846   anger  My roommate liked to listen to some meaningles...
65847   anger  I was at home and I heard a loud sound of spit...

[57332 rows x 2 columns]

In [10]:
SADNESS_Phrases = pd.read_csv("Input/SADNESS_Phrases.txt", delimiter = "\n",header=None)
SADNESS_Phrases.head()

                                                   0
0  i feel terrible that i don't i feel so numb to...
1  i haven't blogged for a while as you can see a...
2  i had been feeling really terrible about sofie...
3  i come feel terrible next to you a href 'http:...
4  i come feel terrible next to you a href 'http:...

In [11]:
SADNESS_Phrases.duplicated().sum()

21175

In [12]:
SADNESS_Phrases.drop_duplicates(inplace=True)
SADNESS_Phrases.rename(columns={0:'Text'},inplace=True)
SADNESS_Phrases['Emotion'] = 'sad'
SADNESS_Phrases = SADNESS_Phrases[['Emotion','Text']]

In [13]:
SADNESS_Phrases

       Emotion                                               Text
0          sad  i feel terrible that i don't i feel so numb to...
1          sad  i haven't blogged for a while as you can see a...
2          sad  i had been feeling really terrible about sofie...
3          sad  i come feel terrible next to you a href 'http:...
5          sad  i don t like feeling terrible sometimes it s j...
...        ...                                                ...
142362     sad  One night my father suddenly suffered from a h...
142363     sad  During the Physics experiment session I did no...
142364     sad  When I was in primary 6, my father died.  I wa...
142365     sad  This issue worried me rather than saddening me...
142366     sad  I had taken the responsibility to do something...

[121192 rows x 2 columns]

In [14]:
df1 = pd.read_csv("Input/isear.csv")
df1.head()

   Emotion                                               Text
0      joy  During the period of falling in love, each tim...
1     fear         When I was involved in a traffic accident.
2    anger  When I was driving home after  several days of...
3  sadness  When I lost the person who meant the most to me.
4  disgust  The time I knocked a deer down - the sight of ...

In [15]:
df1["Emotion"] = df1["Emotion"].replace({'joy': "happy", 'sadness': "sad"})

In [16]:
df1["Emotion"].value_counts()

fear       1081
happy      1081
anger      1071
disgust    1067
sad        1067
shame      1054
guilt      1052
Name: Emotion, dtype: int64

In [17]:
df2 = pd.read_csv("Input/dailydialog.csv")
df2.head()

   Emotion                                               Text
0        0  Say , Jim , how about going for a few beers af...
1        0   You know that is tempting but is really not g...
2        0     What do you mean ? It will help us to relax .
3        0   Do you really think so ? I don't . It will ju...
4        0   I guess you are right.But what shall we do ? ...

In [18]:
df2["Emotion"] = df2["Emotion"].replace({0: "neutral", 1: "anger", 2: "disgust", 3: "fear", 4: "happy", 5: "sad", 6: "surprise"})

In [19]:
df2.head()

   Emotion                                               Text
0  neutral  Say , Jim , how about going for a few beers af...
1  neutral   You know that is tempting but is really not g...
2  neutral     What do you mean ? It will help us to relax .
3  neutral   Do you really think so ? I don't . It will ju...
4  neutral   I guess you are right.But what shall we do ? ...

In [20]:
df2["Emotion"].value_counts()

neutral     85572
happy       12885
surprise     1823
sad          1150
anger        1022
disgust       353
fear          174
Name: Emotion, dtype: int64

In [21]:
df2[df2["Emotion"] == 'neutral']

        Emotion                                               Text
0       neutral  Say , Jim , how about going for a few beers af...
1       neutral   You know that is tempting but is really not g...
2       neutral     What do you mean ? It will help us to relax .
3       neutral   Do you really think so ? I don't . It will ju...
4       neutral   I guess you are right.But what shall we do ? ...
...         ...                                                ...
102974  neutral   Oh , it must be very precious . Is it breakab...
102975  neutral    No , if you take some care when you use them .
102976  neutral                                  How much is it ?
102977  neutral                                    Two thousand .
102978  neutral                      Oh , it is beyond my purse .

[85572 rows x 2 columns]

In [22]:
df3 = pd.read_csv("Input/emotion-stimulus.csv")
df3.head()

  Emotion                                               Text
0   happy  I suppose I am happy being so ` tiny' ; it mea...
1   happy  Lennox has always truly wanted to fight for th...
2   happy  He was a professional musician now , still sen...
3   happy  Holmes is happy having the freedom of the hous...
4   happy  I had problems with tutors trying to encourage...

In [23]:
df3['Emotion'].value_counts()

sad         575
anger       483
happy       479
fear        423
surprise    213
shame       146
disgust      95
Name: Emotion, dtype: int64

In [24]:
new_df = pd.concat([df1,df2,df3,ANGER_Phrases,JOY_Phrases,SADNESS_Phrases])

In [25]:
new_df = new_df[new_df['Emotion'].isin(['neutral','happy','sad','anger'])]

In [26]:
new_df.duplicated().sum()

19780

In [27]:
new_df = new_df.drop_duplicates()

In [28]:
new_df[new_df['Text'].duplicated(keep=False)].sort_values(by=['Text'])['Emotion'].value_counts()

sad        2900
anger      2840
neutral    1606
happy      1302
Name: Emotion, dtype: int64

In [29]:
new_df = new_df.drop_duplicates(subset=['Text'],keep=False)

In [30]:
new_df['Emotion'].value_counts()

happy      151002
sad        119952
neutral     69682
anger       55919
Name: Emotion, dtype: int64

In [31]:
data_dir = 'Output'
if not os.path.exists(data_dir):
    os.makedirs(data_dir)

In [32]:
new_df.to_csv('Output/data.csv',index=False)