In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
x_train = pd.read_csv("Input/csvTrainImages 13440x1024.csv",header=None)
x_test = pd.read_csv("Input/csvTestImages 3360x1024.csv",header=None)
y_train = pd.read_csv("Input/csvTrainLabel 13440x1.csv",header=None)
y_test = pd.read_csv("Input/csvTestLabel 3360x1.csv",header=None)

In [3]:
x = pd.concat([x_train,x_test])
y = pd.concat([y_train,y_test])

In [4]:
x.shape

(16800, 1024)

In [5]:
y.shape

(16800, 1)

In [6]:
x.head()

,0,1,2,3,4,5,6,7,8,9,...,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
y.rename(columns={0:'label'},inplace=True)

In [8]:
y['img'] = x.apply(lambda x: ','.join(x.values.astype(str)),axis = 1)

In [9]:
y.head()

   label                                                img
0      1  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
1      1  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
2      1  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
3      1  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
4      1  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...

In [10]:
data_dir = 'Output'
if not os.path.exists(data_dir):
    os.makedirs(data_dir)
y.to_csv("Output/data.csv",index=False)